[Unit]
Description=sharpikeebo_lcd
Requires=pigpiod.service
After=pigpiod.service

[Service]
ExecStart=/usr/local/bin/sharpikeebo_lcd -noblink -invert --
Type=simple
Restart=on-failure

[Install]
WantedBy=default.target
